main {
    color: white;
    border: 5px solid #4285f4;
    text-align: center;
    width: 15%;
    padding: 0px;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: bold;
    font-size: 24px;
  }
  
  .first {
    background: #E67676;
    margin: 0px;
    padding: 25px;
   }
  
  .second {
    background: #F2F062;
    margin: 0px;
    padding: 25px;
   }
  
  .third {
    background: #A9E6E6;
    margin: 0px;
    padding: 25px;
   }
  
  .fourth {
    background: #7692E4;
    margin: 0px;
    padding: 25px;
   }